body
{
	background-color: black;
	color: white;

}
#abc{
	width: 100%;

}
#tab{
	width: 100%;
}
#tab2
{
	width: 100%;
}
.but{
	background-color: green;
	color: white;
	padding: 20px 20px;
	border: none;
	font-size: 30px;
	font-align: center;
}